.container-login {
  text-align: center;
  height: 500px;
  background-color: rebeccapurple;
  // position: relative;
  .login {
    background-color: red;
    // padding-top: 200px;
    // position: absolute;
  }
}