<div class="container-login">
  <div class="ui-g ui-fluid login">
    <div class="ui-g-12 ui-md-2"></div>
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="Username" [(ngModel)] = "user" [ngModelOptions]="{standalone: true}" maxlength="10">
          <p class="error" style="color: 'red'" *ngIf ="error">{{error}}</p>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input type="password" pPassword [(ngModel)] = "password" [ngModelOptions]="{standalone: true}"/>
        </div>
      </div>
      <div class="ui-g-12 ui-md-2">
        <button pButton type="button" label="Login" class="ui-button-rounded" (click) = "submit()"></button>
      </div>
  </div>
  <!--  <app-message></app-message>-->
  <!--  <app-name></app-name>-->
  <!--  <button pButton type="button" label="Login" (click)="login()" class="ui-button-rounded"></button>-->
</div>

